target/classes/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ajax="http://www.mulesoft.org/schema/mule/ajax"
	xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd
http://www.mulesoft.org/schema/mule/ajax http://www.mulesoft.org/schema/mule/ajax/current/mule-ajax.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd"
	>
	
	<context:property-placeholder location="default.properties, override.properties, gpswalker-override.properties"
		ignore-resource-not-found="true"  />

	<ajax:connector name="ajaxServer"
		serverUrl="http://0.0.0.0:${http.port}/${gps-url}" resourceBase="${app.home}/docroot"
		doc:name="Ajax" jsonCommented="true" />
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="${my.http.port}" doc:name="HTTP Listener Configuration"/>

	<flow name="StrollerService">
		<quartz:inbound-endpoint repeatInterval="3000"
			startDelay="3000" jobName="walkGenerator" doc:name="Quartz">
			<quartz:event-generator-job />
		</quartz:inbound-endpoint>
		<component doc:name="Java">
			<singleton-object class="org.mule.example.gpswalker.CityStroller" />
		</component>
		<ajax:outbound-endpoint channel="/gpswalker"
			doc:name="Ajax" connector-ref="ajaxServer" responseTimeout="10000"/>
	</flow>
    <flow name="mule-configFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <set-payload value="#['Hello MuleSoft '+server.dateTime]" doc:name="Set Payload"/>
        <logger message="#[message.payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
